{% extends "visualizador.html" %}

{% block grafo_content %}

{% if grafo %}
<div class="grafo-preamble">
  <p>Grafo carregado com sucesso.
    {% if universidade %}
    <br>Universidade: {{ universidade }}
    {% endif %}
    {% if curso %}
    <br>Curso: {{ curso }}
    {% endif %}
    {% if perfil %}
    <br>Perfil: {{ perfil }}
    {% endif %}
  </p>
</div>

<input type="button" id="hide" value="Esconder arestas">
<br>
<label for="slider">Tamanho do grafo</label>
<input type="range" min="20" max="100" value="42" id="slider">
<br>
<object id="grafo">{{ grafo|safe }}</object>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endif %}

{% if error %}
<p>Erro: {{ error }}</p>
{% endif %}

{% endblock %}
