{% extends "index.html" %}

{% block content %}
<p>Olá, usuário ou usuária. Envia-me um <i>arquivo</i>.pdf de um perfil curricular da UFPE e tentarei mostrar visualmente as relações entre as cadeiras.</p>
<p>Passe por cima de uma cadeira para ver melhor suas conexões. Clique numa cadeira para mantê-la em vista. Podes clicar novamente nela para tirá-la de destaque.<br/>
  O botão "Esconder arestas" vai apagar as arestas que não estão realçadas. O botão "Mostrar arestas" vai desenhar as arestas que não estão realçadas. O padrão é o estado de mostrar todas as arestas. É possível ajustar o tamanho do grafo com o controle deslizante.</p>
<p>Pré-requisitos são arestas entrando: Se a cadeira Benedita possui seta vindo da cadeira Alice, Alice é pré-requisito de Benedita.<br/>
  Co-requisitos são arestas em ambas as direções.</p>
<form action="upload"
      method="POST"
      enctype="multipart/form-data">
  <input type="file" name="file" />
  <input type="submit"/>
</form>

{% block grafo_content %}
{% endblock %}

{% endblock content %}
